<!-- templates/article_list.html -->
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Articles{% endblock title %}
{% block content %}
<section class="photo-gallery py-4 py-xl-5">
    <div class="container py-4 py-xl-5">
        <div class="row gy-4">
            <h2>Stories</h2>
            <!-- Loop through offices and create columns for each -->
            {% for story in object_list %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <a href="{{ story.get_absolute_url }}">
                    <div class="card">
                        <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{% if story.photo %}{{ story.photo.url }}{% else %}{% static 'blog/img/blog_cover.jpg' %}{% endif %}">
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">{{ story.title }}</p>
                            <p class="card-text">Author: {{ story.author }}</p> <!-- Display the category title -->
                            <div class="d-flex">
                                <div>
                                    <p class="text-muted mb-0">{{ story.created }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid p-0"></div>
</section>
{% endblock content %}
